html{
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  font-size: 24px;
  font-family: Arial;
  color: #181714;
}

main{
  background: #d4a831;
  background: -webkit-linear-gradient(#c1bab3, #d6c6bd, #9c9793);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
  line-height: 1.5em;
}

.skip a{
  background: rgb(243, 241, 239);
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  left: 500px;
  top: -60px;
}

.skip a:focus{
  background: rgb(160, 126, 88);
  top: 0;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
}

nav{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  flex-direction: row;
  align-items: center;
 justify-content: space-between;
 -webkit-box-align: center;
 border-bottom: 3px solid #000;
 height: auto;
 line-height: 1.5em;
 background-color: #aa9a8e;
}

nav li{
  display:inline;
  padding-right:20px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: dashed;
  text-align: right;
  padding: 20px 10px;
  }

nav a:hover{
  text-decoration: overline;
  text-decoration-style: dotted;
}

nav a:active{ background-color:rgb(199, 165, 140);
}

.nav-item a{
  color: black;
  text-decoration: none;
  margin: 3px auto;
}

.active-page {
  border: 3px solid #FE9A9A;
}

h1, h2{
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 24px;
}

h3 {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 18px;
}

body{
  background-color: rgb(217, 212, 212);
  font-size: 16px;
}

/*about*/
.about-container {
  display: grid;
  grid-template-columns: 1fr 20% 20% 1fr 10%;
  row-gap: 10px;
}

#project1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span all;
  margin: 10px;
}

.about {
  grid-row: 1 / span 1;
  grid-column: 1 / span all;
  border: 10px solid #684c38 ;
  padding: 10px;
  line-height: 1.5em;
  background-color: rgb(229, 225, 225);
}

.photo {
  grid-column: 1 / 5;
}

#project1-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span all;
  margin: 10px;
}
img{
  animation-name: img_fade;
   animation-duration: 3s;
}

@keyframes img_fade {
  from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
}
@keyframes aanimation {
  0% {
  box-shadow: 5px 10px #888888;
  transform: translatey(0px);
  }
  50% {
  box-shadow:  5px 10px #888888;
  transform: translatey(-20px);
  }
  100% {
  box-shadow:  5px 10px #888888;
  transform: translatey(0px);
  }
}

.photo{
  width: 80%;
  border: 2px solid rgb(108, 34, 9);
  border-radius: 5%;
  padding: 6px 6px 10px 10px;
  margin: 60px;
  max-height: 600px;
}


.photo:hover {
  background-color: bisque;
  opacity: 0.8;
  transition: .5s ease;
  color: rgb(47, 45, 43);
}

#a-img, #b-img {
  animation: aanimation 2s;
}



/* project*/
.project-container {
  display: grid;
  grid-template-columns: 1fr 20% 20% 1fr;
  row-gap: 10px;
}

.name1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: 10px;
  border: #684c38 solid;
}

.name2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  grid-row: 2/ 3;
  margin: 10px;
}

.photos {
  grid-column: 1 / span all;
}

.name3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin: 10px;
}
/* playground*/
.sunform-container {
  display: grid;
  grid-template-columns: 1fr 20% 20% 1fr;
}

.sun:hover {
  background-color: rgb(222, 192, 179);
  opacity: 0.85;
  transition: .3s ease;
  color: rgb(47, 45, 43);
}

.sun {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.p1 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: 10px;
  padding: 10px;
}

#s1 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin: 10px;
}

#s2 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  margin: 10px;
}

#s3 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin: 10px;
}

#s4 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  margin: 10px;
}

.p2 {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  padding: 10px;
  margin: 10px;
}

#s5 {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  margin: 10px;
}

#s6 {
  grid-column: 3 / 5;
  grid-row: 5 / 6;
  margin: 10px;
}

#s7 {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  margin: 10px;
}

#s8 {
  grid-column: 3 / 5;
  grid-row: 6 / 7;
  margin: 10px;
}

.p3 {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  padding: 10px;
  margin: 10px;
}

#s9 {
  grid-column: 1 / -1;
  grid-row: 8 / 9;
  margin: 10px;
}


/* expectation*/
.expectation-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pi {
  grid-column: 1 / -1;
  margin: 10px;
}

.pii {
  grid-column: 1 / -1;
  margin: 10px;
}

.light {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
  width: 90%;
  padding: 0px 6px;
  margin: 10px;
}

aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/* form */

.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
}

.input, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button{
  background-color: #cfb698;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #914646;
  color: white;
}

@media screen and (min-width: 900px){
  header{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(121, 84, 84);
    background-image: url("../images/cover_pic.jpg");
    height: 200px;
    min-height: 200px;
    width: 100%;
  }
  .nav{
    -webkit-box-orient: horizontal;
            flex-direction: row;
  }

  .nav-links{
    -webkit-box-orient: horizontal;
            flex-direction: row;
  }

  .nav-item a{
    padding: 10px;
  }

/*about */

  .about-container{
    display: grid;
    grid-template-columns: 1fr 20% 3% 20% 1fr;
    row-gap: 10px;
    grid-template-rows: 150px auto auto auto auto auto 70px;
    width: 100%;
  }

  .about{
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    text-align: center;
    margin: 30px;
  }


  footer{
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    border-top: 3px solid #000;
    padding: 10px;
    color: #454545;
    text-align: center;
  }

  #project1 {
    margin: 20px;
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
  }

  #a-img {
    grid-column: 1 / 3;
    grid-row: 3 / span 1;
  }

  #b-img {
    grid-column: 4/ 6;
    grid-row: 3 / span 1;

  }

  #c-img {
    grid-column: 1 / 3;
    grid-row: 4 / span 1;
  }

  #d-img {
    grid-column: 4/ 6;
    grid-row: 4 / span 1;
  }

  #e-img {
    grid-column: 1 / 3;
    grid-row: 5 / span 1;
  }
  #f-img {
    grid-column: 4 / 6;
    grid-row: 5 / span 1;
  }

  #project1-1 {
    margin: 20px;
    grid-row: 6 / span 1;
    grid-column: 1 / -1;
  }

  #scenry{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

/* playground*/
  .sunform-container {
    box-sizing:content-box;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    row-gap: 10px;
  }

  .sunform-container >h2 {
    margin-left: 50px;
  }

  .sun {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4px;
    justify-content: center;
  }

  .sun img {
    margin-top: 5px;
    width: 100%;
  }

  #s1 {
    grid-column: 1 / 2;
    grid-row: 1 / span 1;
  }

  #s2 {
    grid-column: 2 / 3;
    grid-row: 1 / span 1;
  }

  #s3 {
    grid-column: 3 / 4;
    grid-row: 1 / span 1;
  }

  .p1 {
    grid-column: 4 / 5;
    grid-row: 1 / span 1;
    margin: 10px;
    padding: 10px;
  }

  #s4 {
    grid-column: 1 / 2;
    grid-row: 2 / span 1;
    }

  #s5 {
    grid-column: 2 / 3;
    grid-row: 2 / span 1;
  }

  .p2 {
    grid-column: 3 / 4;
    grid-row: 2 / span 1;
    margin: 10px;
    padding: 10px;
  }

  #s6 {
    grid-column: 4 / 5;
    grid-row: 2 / span 1;
  }

  #s7 {
    grid-column: 3 / 4;
    grid-row: 3 / span 1;
  }

  #s8 {
    grid-column: 4 / 5;
    grid-row: 3 / span 1;
  }

  #s9 {
    grid-column: 2 / 3;
    grid-row: 3 / span 1;
  }

  .p3 {
    grid-column: 1 / 2;
    grid-row: 3 / span 1;
    margin: 10px;
    padding: 10px;
  }

  /*project*/
  .project-container {
    box-sizing:content-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2%;
    grid-template-rows: repeat(5,1fr);
    width: 100%;
    row-gap: 10px;
  }

  .photos {
    width: 100%;
    padding: 6px 6px 10px 10px;
    max-height: 700px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .name1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 20px;
    padding: 10px;
    border: #684c38 solid;
  }

  #image1 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }

  #image2 {
    grid-column: 1 / span 1;
    grid-row: 2 / 3;
  }

  #image3 {
    grid-column: 2 /  span 1;
    grid-row: 2/ 3;
  }

  #image4 {
   grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  .name2 {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    margin: 50px;
    padding: 10px;
    border: #684c38 solid;
  }


  #image5 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
  }

  #image6 {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    width: 90%;
  }

  .name3 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    margin: 20px;
    padding: 10px;
    border: #684c38 solid;
  }

  #image7 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  #image8 {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
  }

  /*expect*/
  .expectation-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4px;
    justify-content: center;
  }

  .expectation-container > h2 {
    margin-left: 50px;
  }

  .light {
    margin-top: 5px;
    width: 70%;
  }

}

img {
    width: 100%;
    height: auto;
}


@media screen and (prefers-reduced-motion:reduce) {
  img {
  animation: none;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none;
    transition: none;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }

  .photo, .sun:hover {
    animation: none;
  }
}