body{
  background-color: rgb(217, 212, 212);
  font-size: 16px;
  
}
nav li{
  display:inline;
  padding-right:20px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: dashed;
  text-align: right;
  padding: 20px 10px;
}
  
nav a:hover{
  text-decoration: overline;
  text-decoration-style: dotted;
}
  
nav a:active{ background-color:rgb(199, 165, 140);

}


header{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(91, 88, 88);
  grid-row: 2 / span 1;
  grid-column: 1 / span all;
  background-image: url("../images/cover_pic.jpg");
  height: 200px;  
  min-height: 200px;
}

  
h1, h2, h3{
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 24px;
  padding: 15px;
  
  }
  
p{
  font-size: 16px;
  padding-bottom: 15px;
  padding-left:15px;
}

img{
  animation-name: img_fade;
  animation-duration: 3s;
}

@keyframes img_fade {
  from {
    opacity: 0;
    }
  to {
    opacity: 1;
    }
  }
@keyframes aanimation {
  0% {
    box-shadow:  rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow:  rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow:  rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}
  
img{
  display: flex;
  height: fit-content;
  width: 100%;
  border: 2px solid rgb(108, 34, 9);
  border-radius: 5%;
  padding: 6px 10px 4px 10px;
  margin: 50px;
  max-height: 500px;
  overflow: hidden;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

img:hover{
  background-color: bisque;
  opacity: 0.8;
  transition: .5s ease;
  color: rgb(47, 45, 43);
}

.container{
  display: grid;
  display: flex;
  grid-template-columns: 1fr 20% 20% 1fr;
  row-gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-items: stretch;
  align-content: space-between;
}

aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  grid-column: 1 / span all;
  grid-row: 7 / span 1;
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span all;
}

footer{
  grid-row: 8 / auto;
  grid-column: 1 / span all;
  text-align: center;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  grid-row: 1 / span 1;
  grid-column: 1 / span all;
}

.a-img{
  animation: aanimation 2s;
}




@media screen and (min-width: 900px){
  header { 
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  
}

@media screen and (prefers-reduced-motion:reduce) {
  img {
  animation: none;
  }
}
