nav li{
  display:inline;
  padding-right:20px;

  }

  nav a{
    color: black;
    font-weight: bold;
    text-decoration: dashed;
    text-align: right;
    padding: 20px 10px;
  }
  
  nav a:hover{
    text-decoration: overline;
    text-decoration-style: dotted;
  }
  
  nav a:active{ background-color:chocolate;

  }

body{
    font-family: Verdana, Arial;
    padding: 25px;
  }
  
  h1, h2, h3{
    font-size: 36px;
    padding: 15px;
  
  }
  
  p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left:15px;
  }
  
  .a-image, .b-image, .c-image, .d-image, .e-image, img{
    height: fit-content;
    width: auto;
    border: 2px solid coral;
    border-radius: 5%;
    padding: 6px 10px 4px 10px;
    margin: 50px;
  }

  .a-image, .b-image, .c-image, .d-image, .e-image, img:hover{
    background-color: bisque;
    opacity: 0.8;
    transition: .5s ease;
    color: chocolate;
  }
